h1 {
    color: black;
    background-color:rgb(190, 80, 152);
    text-decoration: underline;
    text-align: center;
}

h2 {
    color:hsl(183, 100, 50);
    text-align: center;
}

h3 { 
    color: #ABC;
    text-align: center;
}
h4 {
    color: rgb(68, 111, 190);
}


button:hover {
    color: blue;
}

a:active {
    color: red;
}


body {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;

    margin-left: 20px;
    margin-right: 20px;
}

ul {
    padding: 10px 20px 10px 20px;
    margin: auto;
}

.box {
    background-color: #567895;
    border: 5px solid #0b385f;
    border-bottom-style: dashed;
    color: #fff;
  }

p {
  border-color: rebeccapurple;
  border-style: groove;
  border-width: 1mm;
  border-radius: 10vw;
}


#feedback {
    max-width: 150px;
}

#peace_video {
    position: sticky;
    margin: 20px 20px 10px 10px;
}
#peace_video {
    position: sticky;
    width: 20vw
}

#peace_music {
    position: relative;
    height: 2in;

    margin-top: 20px;
    margin-bottom: 20px;
}

#whiteboard {
    min-width: 20vmax;
}
